/.venv
/.vscode
/build
/__pycache__
*.olean
/_target
/leanpkg.path
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
source/C01_Introduction
source/C02_Basics
source/C03_Logic
source/C04_Sets_and_Functions
source/C05_Number_Theory
source/C06_Structures
source/C07_Hierarchies
source/C08_Topology
source/C09_Differential_Calculus
source/C10_Integration_and_Measure_Theory
lake-packages
